.first-group {
  color:green
  text-align:center;
  font-size: 50px;
}
.a2nd-group{
  color:blue
  text-align:center;
  font-size: 30px;
}
#important {
  color:green
  text-align:center;
  font-size: 50px;
}
